# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Platform.io
smart-nixie-platformio/.pio
smart-nixie-platformio/.vscode/.browse.c_cpp.db*
smart-nixie-platformio/.vscode/c_cpp_properties.json
smart-nixie-platformio/.vscode/launch.json
smart-nixie-platformio/.vscode/ipch
